.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}
.cell-ru {
    padding: 0.2rem 0.5rem !important;
    max-width: 80%;
    margin: auto !important;
    display: flex !important;
}
.deleted-td {
    background-color: #d9363e1c;
}

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 0px;
    border: 0px;
    overflow: hidden;
}

.btnTranslate {
    position: absolute !important;
    left: 100%;
    z-index: 11;
}
.read-ru {
    position: relative;
    transform: translateX(-80%);
}
